html, body { height: auto }
a > img { border: 0 }
body > div { opacity: 0.85 }
html, body { margin: 0 }
div { margin: 30px 0 }
h1, h2, p, ul, li { margin: .6em 0 }
body { padding-left: 50px }
@media screen and (max-width: 320px) {
    body { padding-left: 5px }
}
ul { padding: 0 0 0 .5em }
body { font: 16px/1.4 Verdana, sans-serif }
h1, h2 { font-weight: normal }
h1 { font-size: 50px }
h2 { font-size: 20px }
ul { list-style: none }
body, a { color: #333 }
body { background: #fff url(https://bgimg-3746.herokuapp.com/img) }
a {
    border-radius: 3px;
    background: #fff;
}
#contactMe, #activity li {
    border-radius: 6px;
    background: #fff;
}
#contactMe {
    font-size: 16px;
    margin: 10px 0;
    padding: 10px;
}
#activity li {
    list-style: none;
    padding: 10px;
}
#enableHttps {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0;
    font-size: 12px;
}
#flashAlert {
    display: none;
    background: #ffc0cb;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}
#flashAlert a { background: transparent }
.activityItemFooter {
    font-size: 10px;
    text-align: right;
    margin: 5px 0 0 0;
}
