{{#> layouts/base title="Hideki Yamamura (hidekiy.com)" }}
{{#*inline "head-block"}}
    <style>
        @@include('index.css')
    </style>
{{/inline}}
{{#*inline "hero-block"}}
    <div>
        <h1><a href="/">hidekiy.com</a></h1>
        <p>Welcome to the personal page of Hideki Yamamura!</p>
    </div>

    <div id="contents">
        <h2>Contents</h2>
        <ul>
            <li><a href="https://blog.hidekiy.com/" rel="me">hidekiy blog</a></li>
        </ul>
    </div>

    <div>
        <h2>Works</h2>
        <ul>
            <li><a href="/work/zmap">zmap</a> displays all zoom layers synchronously on Google Map.</li>
            <li><a href="https://ptyapp.com/">ptyapp.com</a> tiny web applications</li>
        </ul>
    </div>

    <div>
        <h2>My Accounts</h2>
        <ul>
            <li><a href="https://twitter.com/hidekiy" rel="me">Twitter</a></li>
            <li><a href="https://www.facebook.com/hideki.yamamura" rel="me">Facebook</a></li>
            <li><a href="https://tumblr.hidekiy.com/" rel="me">Tumblr</a></li>
            <li><a href="https://www.youtube.com/user/hideki536" rel="me">YouTube</a></li>
            <li><a href="https://github.com/hidekiy" rel="me">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/hidekiy/" rel="me">LinkedIn</a></li>
            <li><a href="https://www.alltrails.com/members/hideki-yamamura/activity" rel="me">AllTrails</a></li>
        </ul>
    </div>

    <div>
        <h2>About this site</h2>
        <ul>
            <li>
                <a href="https://status.hidekiy.com/"><img src="https://app.statuscake.com/button/index.php?Track=AQBhb2zj4K&amp;Days=30&amp;Design=1" alt="Monitoring Status" width="200" height="40"></a>
            </li>
            <li>
                <a href="https://www.netlify.com/"><img src="https://www.netlify.com/img/global/badges/netlify-color-bg.svg" alt="Netlify Logo"></a>
            </li>
        </ul>
    </div>
{{/inline}}
{{/layouts/base}}
