{{#> layouts/base title="snowflake decoder" }}
{{#*inline "head-block"}}
    <style>
        @@include('snowflake-decoder.css')
    </style>
{{/inline}}
{{#*inline "hero-block"}}
    <h1>snowflake decoder</h1>
    <div>
    <label>Input:<br>
    <textarea style="width:80%; height:150px">https://twitter.com/hidekiy/status/154166667973361664
    </textarea></label><br>
    <input type="button" value="decode">
    </div>
    <div id="result"></div>
    <p style="text-align:right"><a href="https://hidekiy.com/">hidekiy.com</a></p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        @@include('bignumber.js')
        @@include('snowflake-decoder.js')
    </script>
{{/inline}}
{{/layouts/base}}
