{{#> layouts/base title="zmap" }}
{{#*inline "head-block"}}
    <style>
        @@include('zmap.css')
    </style>
{{/inline}}
{{#*inline "hero-block"}}
    <div id="container"></div>
    <p id="attr"><a href="https://hidekiy.com/">hidekiy.com</a></p>
    <script src="https://www.google.com/jsapi"></script>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyAeJaGgX0AkMaDSeNqQiH3TwqHzZnZu8Kg"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        @@include('zmap.js')
    </script>
{{/inline}}
{{/layouts/base}}
