{{#> layouts/base title="Not Found" }}
{{#*inline "head-block"}}
    <link rel="stylesheet" href="/404.css">
{{/inline}}
{{#*inline "hero-block"}}
    <h1>Not Found</h1>
    <p>Return to <a href="/">hidekiy.com</a>.</p>
{{/inline}}
{{/layouts/base}}
